@font-face {
  font-family: "Pacifico";
  src: url(../fonts/Pacifico-Regular.ttf);
}

.navbar {
  border-bottom: #{$navbar-border-width} solid #efefef;
  margin-bottom: $navbar-margin-bottom;
}

.navbar__main {
  font-family: "Pacifico", cursive;
}

.navbar__item {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: ($navbar-height / 4) 1rem;
  line-height: $navbar-height / 2;
  vertical-align: middle;
  min-height: $navbar-height;
}

.navbar__item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
