.search-input {
  position: relative;
}

.search-input__results {
  position: absolute;
  border: 1px solid lightgray;
  border-radius: 0.375rem;
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  background-color: white;
  z-index: 1;
  width: 100%;

  &--hidden {
    display: none;
  }
}

.search-input__result {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0.5rem;

  &:not(:last-child) {
    // border-bottom: 1px solid #efefef;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
