* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

@import "./variables";
@import "./add-image-tile";
@import "./add-modal";
@import "./vacation-modal";
@import "./button";
@import "./search-input";
@import "./validator";
@import "./icon-button";
@import "./vacation-image";
@import "./animate-scale";
@import "./map";
@import "./modal";
@import "./navbar";
