.vacation-modal__header {
  display: flex;
  justify-content: space-between;
  font-family: Pacifico, cursive;
}

.vacation-modal__summary {
  margin-top: 1rem;
}

.vacation-modal__images {
  margin-top: 1rem;
}

.vacation-modal__image {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 1rem 1rem 0;
  height: 150px;
  width: 150px;
  cursor: pointer;
  border-radius: 0.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.vacation-modal__big-image {
  max-height: 90vh;
  display: block;
  animation: fadeIn 0.25s;
}
