.vaction-modal {
  position: absolute;
}

.vacation-modal__header {
  display: flex;
  flex-wrap: wrap;
  font-family: Pacifico, cursive;
}

.vacation-modal__title {
  flex-grow: 1;
}

.vacation-modal__year {
  width: 10.715rem;
}

.vacation-modal__summary {
  margin-top: 1rem;
}

.vacation-modal__images {
  margin-top: 1rem;

  @keyframes shake {
    $degrees: 1;
    0% {
      transform: rotateZ(0deg);
    }
    25% {
      transform: rotateZ(#{$degrees}deg);
    }
    50% {
      transform: rotateZ(0deg);
    }
    75% {
      transform: rotateZ(-#{$degrees}deg);
    }
    100% {
      transform: rotateZ(0deg);
    }
  }

  &--editing .vacation-modal__image:not(:last-child) {
    animation-name: shake;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

.vacation-modal__image {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 1rem 1rem 0;
  height: $image-size;
  width: $image-size;
  border-radius: 0.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.vacation-modal__big-image {
  max-height: 90vh;
  display: block;
  animation: fadeIn 0.25s;
}

.vacation-modal__actions {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
